* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  padding: 20px;
}

.loginCard {
  display: flex;
  width: 850px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.left {
  flex: 1;
  padding: 40px;
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.right {
  flex: 1;
  padding: 40px;
  color: white;
}

.main_logo {
  text-align: center;
  margin-bottom: 15px;
}

.main_logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.right h2 {
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #cbd5e1;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.05);
  color: white;
  outline: none;
}

.passwordBox {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordBox button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.loginBtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.loginBtn:hover {
  background: #1d4ed8;
}

.footerText {
  margin-top: 15px;
  font-size: 12px;
  color: #94a3b8;
  text-align: center;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .loginCard {
    flex-direction: column;
  }

  .left {
    padding: 30px;
    text-align: center;
  }

  .right {
    padding: 30px;
  }
}